*{
    margin: 0%;
    padding: 0%;
}

table{
    border-collapse: collapse;
    width: 400px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

th{
    background-color: rgb(191, 191, 191);
}

th:empty{
    border: none;
    background-color: transparent;
}

th:active , td:active{
    background-color: rgb(130, 189, 109);
    color: green;
    border: 2px solid green;
}

th:hover{
    background-color: rgb(164, 233, 138);
}

th, td{
    border: 2px solid black;
}

#tabelaAlunos{
    width: 500px;
    height: auto;
}

#tabelaAlunos td,#tabelaAlunos th{
    height: 40px;
}

#scroll{
    width: 30px;
    height: 3000px;
}

thead{
    position: sticky;
    top: -1px;
}